/*
 * Reset body styles
 */
 body {
  margin: 0;
  padding: 0;
  overflow: auto;
}

/* Sky Map Section */
#sky-map {
  position: relative;
  width: 100%;
  height: auto;
}

#sky-map img {
  width: 100%;
  height: auto;
  display: block;
}

/* Reset body styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #1C1F4F;
  color: #ffffff;
}

/* Header styles */
header {
  background-color: #333;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2rem;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Intro section */
.intro {
  padding: 40px;
  text-align: center;
  background-color: #444;
}

.intro h2 {
  font-size: 1.8rem;
}

.intro p {
  font-size: 1.2rem;
}

/* Content section */
.content {
  padding: 40px;
  text-align: center;

  background-color: #555;
}

.content h3 {
  font-size: 1.5rem;
}

.content p {
  font-size: 1rem;
}

/* Footer styles */
footer {
  text-align: center;
  padding: 20px;
  position: relative;

}

.footer-image {
  width: 70%;
  height: 500%;
  max-height: 800px; /* Control the height to prevent scrolling */
  object-fit: cover;
  display: block;
  margin: 0 auto;
}


